@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Poppins:wght@400;600;700&family=Roboto:wght@700&family=Work+Sans:wght@500;600;700&display=swap');

:root{
    --orange: #FFB742;
    --black : #212529;
    --font-Inter: 'Inter', sans-serif;
    --font-Roboto :'Roboto', sans-serif;
    --font-Work-Sans : 'Work Sans', sans-serif;
    font-size: 10px;
}

body{
    background-color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

body, ul{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}

.header__navigation{
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-between;
    text-transform: capitalize;
}

.header__navigation a {
    color: white;
    font-weight: 600;
    transition: all 1s;
}

.header__navigation a:hover{
    color: var(--orange);
}


.header__navigation + div > a{
    color: var(--black);
    text-align: center;
    width: 121px;
    background-color: var(--orange);
    border: 2px solid var(--orange);
    display: inline-block;
    padding: 10px 0;
    border-radius: 50px;
}
